<h4>Subject Categories</h4>
<ul id="subjects">
 <% Subject.all.each do |c| %>
 <li><%= link_to c.name, action: :show_subjects, id: c.id %></li>
 <% end %>
</ul>
<h4>Books</h4>
<p><%= link_to "Add Book", { action: :new }%></p>
<% if @books.blank? %>
  <p>There are not any books currently in the system.</p>
<% else %>
  <p>These are the current books in our system</p>
  <ul id="books">
    <% @books.each do |book| %>
      <p>
      <li><b><%= link_to book.title, { action: :show, id: book.id } %></b></li>
      <%= link_to 'Edit', { action: :edit, id: book.id } %>
      <%= link_to 'Mail', { action: :send_details, id: book.id } %>
      <%= link_to 'Delete', { action: :delete, id: book.id } %>
      </p>
    <% end %>
  </ul>
<% end %>


