<html>
  <head>
    <title>Library Info System</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "book" %>
    <%= javascript_include_tag "jquery", "application" %>
  </head>
  <body id="library">
    <div id="container">
      <div id="header">
        <h1>Library Info System</h1>
      </div>
      <div id="content">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <br><br>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
      <div id="sidebar">
      </div>
    </div>
  </body>
</html>
